body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.navbar{
    background:#111827;
}

.card{
    background:#1e293b;
    border:none;
    border-radius:15px;
    color:white;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.card:hover{
    transform:translateY(-5px);
}

.value{
    font-size:2rem;
    font-weight:bold;
}

.alert-box{
    padding:15px;
    border-radius:10px;
    font-weight:bold;
    text-align:center;
}

.safe{
    background:#198754;
}

.danger{
    background:#dc3545;
}

.chart-container{
    height:350px;
}

.list-group-item{
    background:#1e293b;
    color:white;
    border:1px solid #334155;
}

.btn{
    border-radius:10px;
}

h4,h5{
    margin-bottom:15px;
}

canvas{
    background:white;
    border-radius:10px;
    padding:10px;
}
